<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
    <div class="container">
        <section class="one"> 
            <header id="navbar">
                <a href="#" class="logo">TRICAR</a>
                <ul>
                    <li><a href="#bottom">¿Quienes somos?</a></li>
                    <li><a href="login">Iniciar sesión</a></li>
                    <li><a href="register">Registrarse</a></li>
                   
                </ul>
            </header>
            <div class="content">
                <div class="bannerText">
                    <div class="active">
                        <h2>Bucaramanga</h2>
                        <p>Ya llego TriCar a Bucaramanga, establece o elige la ruta que quieras de nuestros usuarios y así ayúdalos junto a mas personas para cumplir la normativa del Pico y Placa de una forma rápida y sencilla.</p>
                    </div>   
                </div>
            </div>
        </section>
        <section class="two" id="bottom">
            <div class="content">
                <div class="bannerText">
                <h2>¿Quienes somos?</h2>
                <p>Somos una empresa sin ánimo de lucro que busca brindarles a los usuarios una plataforma en la que puedan tanto encontrar de una forma fácil y segura transporte, como también poder emparejar usuarios para que así se cumpla la normativa del Pico y Placa</p>
                </div>
            </div>
        </section>
    </div>
    

</body>


</html>