<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>Rutas Disponibles</title>	
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">
    <style>
     table.dataTable thead {
           background-color:#7952b3;
           color:aliceblue;
       }  
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
               <table id="rutas" class="table table-striped table-bordered" style="width:100%">
               <thead>
                 <tr>
                    <th>PARADAS</th>
                    
                </tr>
               </thead>
               <tbody>
               </tbody>
               </table> 
            </div>
        </div>
    </div>

<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>        
<script>
     $(document).ready(function() {   
         const url = 'http://localhost:3000/api/rutas';

          $('#rutas').DataTable({            
              ajax:{
                  url: url,
                  dataSrc:''
              },
              columns:[
                  {data:"paradas"},
              ],
              responsive: true
            }).columns.adjust()
            .responsive.recalc();
        })
</script>
</body>
</html>